# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.manifest
*.spec

# Environments
.venv/
venv/
ENV/
env/

# Editor / IDE
.vscode/
.idea/

# OS generated
Thumbs.db
Desktop.ini
